/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    background-image: url("blue2.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    /*text-transform:uppercase;*/
    width:100%;
}

form{
    text-align: center;
    margin-top: 250px;
}

input[type=text]{
    font-size: 20px;
    width: 50%;
    background: transparent;
    margin-bottom: 20px;
    padding: 12px;
    border: none;
    border-bottom: 2px solid white;
}



input[type=password]{
    font-size: 20px;
    width: 50%;
    background: transparent;
    margin-bottom: 20px;
    padding: 12px;
    border: none;
    border-bottom: 2px solid white;
}

input[type=submit]{
    padding: 20px;
}
/*loggin knappen*/
.loggin{
    background: transparent;
    border: none;
    color: white;
    margin-bottom: 10px;
}

.reg_text{
    font-size: 10px;
    color: white;
    padding: 0px;
}

/* Registrera dig knappen*/
.new_user{
     background: transparent;
    border: none;
    color: white;
    padding: 0px;


}


/* Portrait layout (default) */
.app {

    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}



.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.waiting {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.keep-me-signed {
    border:none;
}

.main {
    padding: 15px;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

#hejda {
  color: white;
}
